# Day 2 of DS Course
1- Operators

In [1]:
#adddition
print(3+5)
#substraction
print(5-3)
#multiplication
print(3*2)
#division
print(6/2)
#exponent
print(3*3)
#modolus
print(10%3)

8
2
6
3.0
9
1

In [2]:
print(3*5-10/2)

10.0

PEMDAS
1. Paranthesis
2. Exponent
3. Multiplication
4. Division
5. Addition
6. Substraction

2. Strings

In [3]:
print('ali is a student')
print("ali is a student")
print('''ali is a student''')

ali is a student
ali is a student
ali is a student

In [4]:
print("ali what's up")

ali what's up

3. Variables
-Int
-Float
-Bool
-String

In [5]:
a=10
print(a)

10

#### Rules to assign Variables
1. Never start from a number
2. Make it short
3. never use space
4. do not use keywords

In [6]:
name="Ali"
age= 17
print(name," is ",age," years old")

Ali  is  17  years old

In [7]:
name="ali"
age= 17
clas=10
height=1.5
print(type(name))
print(type(age))
print(type(clas))
print(type(height))

<class 'str'>
<class 'int'>
<class 'int'>
<class 'float'>

4. Input

In [8]:
name=input("Enter Your Name: ")
print("Your Name is ",name)

Enter Your Name: Haziq
Your Name is  Haziq

In [9]:
name=input("Enter Your Name: ")
age=input("Enter Your Age: ")
print(name,"is ",age,"years old")

Enter Your Name: 20
Enter Your Age: 20
20 is  20 years old

In [10]:
age=input("Enter Your Age:")
print(type(age))

Enter Your Age:20
<class 'str'>

In [11]:
age=int(input("Enter Your Age: "))
print(type(age))

Enter Your Age: 20
<class 'int'>

In [12]:
age=input("Enter Your Age:")
print(type(int(age)))

Enter Your Age:20
<class 'int'>

### 5. Conditional Operators
- == equal to
-  != not equal to
-   greater than >
-  < Less than
-  >= greater than or equal to
-  <= less than or equal to

In [8]:
5==5

True

In [14]:
5==4

False

In [15]:
5!=4

True

In [16]:
5>3

True

In [17]:
5<3

False

In [18]:
age= 4
age_for_school=5
age==age_for_school

False

In [21]:
age=int(input("Enter Your Age: "))
ageforschool=5
print(age>=ageforschool)

Enter Your Age: 6
True

In [4]:
age=int(input("Enter Age of Child: "))
age_required=5
if age==age_required:
    print("Your child can go to school")
elif age>age_required:
    print("Your child should go to school")
else:
    print("he cannot go to school")

Enter Age of Child: 6
Your child should go to school

In [5]:
#bmi calclulator 
weight=float(input("Enter Your Weight in KG:"))
height=float(input("Enter your height in meters:"))
bmi=weight/height**2
bmi

Enter Your Weight in KG:100
Enter your height in meters:1.8

30.864197530864196

In [ ]:
weight=float(input("Enter Your Weight in KG:"))
height=float(input("Enter your height in meters:"))
bmi=weight/height**2
print("Your bmi is",bmi)
if bmi<18.5:
    print("You are underweight")
elif bmi>18.5 and bmi<25:
    print("your weight is normal")
else:
    print("You are over weight")

In [1]:
print(3<5 and 2>5)

False

In [2]:
print(3<5 or 2>5)

True

In [3]:
print(3>5 or 2<5)

True

In [5]:
print(3<5 and 2<5)

True

In [9]:
name1="ali"
name2="haziq"
name3="ahmad"
name=input("Enter Your Name")
if name==name1 or name==name2 or name==name3:
    print("I know you")
else:
    print("I do not know you")

Enter Your Namehaider
I do not know you

In [11]:
def printtext():
    text="Coding..."
    print(text)
    print(text)
    print(text)

printtext()
printtext()

Coding...
Coding...
Coding...
Coding...
Coding...
Coding...

In [14]:
def printtext(text):
    print(text)
    print(text)
    print(text)

text=input("Enter Text To print: ")
printtext(text)

Enter Text To print: haziq
haziq
haziq
haziq

In [16]:
def schoolage(name,age):
    if age>=5:
        print(name,"can go to school")
    else:
        print(name,"cannot go to school")

name="ali"
age=6
name2="noor"
age2=4
schoolage(name,age)
schoolage(name2,age2)

ali can go to school
noor cannot go to school

In [17]:
for x in range(10):
    print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello