# Day-5
### Break and Continue Statement

In [1]:
lis=['a','b','c','d']
for x in lis:
    if x=="b":
        break
    print(x)

a

### String Indexing and Methods
#### 1. Index
- Every String Character has a specific index 
- Index Start From 0 which first letter refer to 0, second letter refer to 1 and so on
- we can use len() function to find the lenth
- we can use str[index] to find a character a specific index

In [21]:
str1="my name is ali"
len(str1)

14

In [22]:
str1[-6:-1]

'is al'

#### 2. Method

In [45]:
str1.split("a")

['my n', 'me is ', 'li']

# Basic Data Structures

- tuple
- list
- dictionaries
- sets

### Tuple
- ordered Collection of Element
- ()
- Different types of Elements can be stored
- immutable

In [36]:
tup1=(1,2,"haziq",2.3,True)
type(tup1)

tuple

In [32]:
tup1[1:]

(2, 'haziq', 2.3, True)

In [43]:
#concatenate
#min
#max
#unmutable
tup2=(3,4,5)
tup2[1]=3
tup2.

TypeError: 'tuple' object does not support item assignment

### List
- Ordered 
- [ ]
- mutable

In [58]:
list1=[2,4,6,4,7,8,99]
list2=[23,4,56]
list2.sort()
list2

[4, 23, 56]

### Dictionaries
- unordered
- key and value
- mutable
- {}

In [64]:
dict1={"burger":2,"pizza":5,"fries":1}
dict2={"biryani":2,"sandwich":1.5}
dict1.

dict_values([2, 5, 1])

### Sets
- unordered
- { }
- no duplicates allowed

In [66]:
set1={2,5,3,5,3,2}
set1.

{2, 3, 5}